h2 {
    text-align: center;
    color: blue;
    text-decoration: underline;
}

body{
    background-color: aqua;
}

h1 {
    text-align: center;
    font-weight: bold;
}

h3 {
    color: red;
    font-family:'Courier New', Courier, monospace
}
